# Build directories
/build/
/out/
/bin/

# IDE / Compiler specific files
/.vs/
/imgui.ini
*.user
*.suo
*.userosscache
*.sln
*.vcxproj
*.filters

# Compiled binaries and libraries
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.pdb
*.ilk

# Log files
*.log
